@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:wght@400;700&family=Raleway:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url("images/image1.jpg");
  background-repeat: no-repeat;
}
.logo-section {
  display: inline-block;
}
.logo-section img {
  width: 150px;
  position: absolute;
  padding: 10px 5px;
}
.navbar {
  overflow: auto;
}
.navbar ul {
  margin-left: 35vw;
}
.navbar li {
  list-style: none;
  cursor: pointer;
  float: left;
  padding: 25px 20px;
  font-size: 1.2vw;
  font-family: "Josefin Sans", sans-serif;
}
.navbar li a {
  color: white;
  text-decoration: none;
}
#member {
  color: white;
  background-color: red;
}
.head-section {
  margin-top: 200px;
  margin-left: 100px;
}
.head-section h1 {
  color: white;
  font-family: "Bebas Neue", cursive;
  font-size: 5vw;
  position: relative;
  animation-name: intro;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes intro{
  from{
    margin-left: -500;
  }
  to{
    margin-left: 0px;
  }
}
.head-section hr{
  width: 60px;
  height: 3px;
  margin-top: 30px;
  position: absolute;
  background-color: rgb(255, 98, 0);
  border: none;
}
.head-section p {
  color: white;
  font-size: 1.5vw;
  display: inline-block;
  margin-left: 73px;
  color: rgb(255, 98, 0);
  font-family: "Bebas Neue", cursive;
}
.head-section button {
  border: none;
  background-color: red;
  font-size: 1vw;
  padding: 20px;
  color: white;
  font-family: "Bebas Neue", cursive;
}
.second-section {
  background-color: white;
  margin-top: 400px;
  height: 900px;
}
.image-section {
  display: inline-block;
}
.image-section img {
  width:350px;
  margin-top: 180px;
  margin-left: 150px;
  position: absolute;
  box-shadow: 10px 10px 20px black;
}
.about-section hr {
  width: 60px;
  height: 3px;
  margin-left: 650px;
  margin-top: 30px;
  position: absolute;
  background-color: rgb(255, 98, 0);
  border: none;
}
.about-section #about {
  margin-top: 200px;
  margin-left: 720px;
  color: rgb(255, 98, 0);
}
.about-section h1 {
  margin-left: 650px;
  margin-top: 30px;
  font-size: 3vw;
  color: rgb(15, 24, 61);
  font-family: "Josefin Sans", sans-serif;
}
.about-section p {
  margin-left: 650px;
  margin-top: 50px;
  font-size: 1.3vw;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: justify;
}
.about-section #book {
  font-family: "Raleway", sans-serif;
  margin-top: 20px;
}
.about-section button {
  border: none;
  background-color: red;
  font-size: 1vw;
  padding: 20px;
  color: white;
  font-family: "Bebas Neue", cursive;
  margin-left: 650px;
  margin-top: 40px;
}
.third-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url("images/image3.jpg");
  background-repeat: no-repeat;
  height: 120vh;
}
.third-section hr {
  width: 70px;
  height: 3px;
  background-color: rgb(255, 98, 0);
  border: none;
  position: absolute;
  margin-top: 145px;
  margin-left: 150px;
}
.third-section p {
  color: white;
  position: absolute;
  margin-left: 240px;
  margin-top: 120px;
  font-size: 1rem;
  font-family: "Josefin Sans", sans-serif;
  color: rgb(255, 98, 0);
}
.third-section h1 {
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-size: 3rem;
  position: absolute;
  margin-top: 210px;
  margin-left: 150px;
}
.third-section button {
  border: none;
  background-color: red;
  font-size: 1vw;
  color: white;
  padding: 15px 30px;
  font-family: "Bebas Neue", cursive;
  position: absolute;
  margin-top: 270px;
  margin-left: 80vw;
}
.card-section .card-1 {
  background-color: white;
  width: 22vw;
  height: 50vh;
  margin-top: 400px;
  margin-left: 150px;
  position: absolute;
}
.card-1 img {
  margin-top: 60px;
  margin-left: 145px;
  width: 50px;
}
.card-1 h2 {
  text-align: center;
  margin-top: 40px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
}
.card-1 span {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  font-family: "Raleway", sans-serif;
}
.card-section .card-2 {
  background-color: white;
  width: 22vw;
  height: 50vh;
  margin-top: 400px;
  margin-left: 600px;
  position: absolute;
}
.card-2 img {
  margin-top: 60px;
  margin-left: 145px;
  width: 50px;
}
.card-2 h2 {
  text-align: center;
  margin-top: 40px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
}
.card-2 span {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  font-family: "Raleway", sans-serif;
}
.card-section .card-3 {
  background-color: white;
  width: 22vw;
  height: 50vh;
  margin-top: 400px;
  margin-left: 1050px;
  position: absolute;
}
.card-3 img {
  margin-top: 60px;
  margin-left: 145px;
  width: 50px;
}
.card-3 h2 {
  text-align: center;
  margin-top: 40px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
}
.card-3 span {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  font-family: "Raleway", sans-serif;
}

.four-section{
  height:120vh;
  background-color: white;
}
.text-section hr{
  position: absolute;
  width: 70px;
  height: 3px;
  border: none;
  background-color: rgb(255, 98, 0);
  margin-top: 250px;
  margin-left: 700px;
}
.text-section span{
  display: inline-block;
  margin-top: 245px;
  margin-left: 790px;
  font-family: "Josefin Sans", sans-serif;
  color: rgb(255, 98, 0);
}
.text-section h1{
  margin-left: 700px;
  margin-top: 20px;
  font-family: "Josefin Sans", sans-serif;
  color: rgb(15, 24, 61);
  font-size: 3rem;
}
.text-section p{
  margin-left: 700px;
  margin-top: 50px;
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
}
.four-section img{
  width: 400px;
}
.text-section button{
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-left: 700px;
  font-family: "Bebas Neue", cursive;
  margin-top: 40px;
}

.gallery-section{
  height: 100vh;
  background-color: white;
}
.gallery-section #image1{
  margin-left: 5px;
  width: 950px;
}
.gallery-section #image2{
  width: 250px;
  margin-left: 20px;
  position: absolute;
}
.gallery-section #image3{
  width: 250px;
  position: absolute;
  margin-left: 285px;
}
.gallery-section #image4{
  width: 250px;
  position: absolute;
  margin-top: 390px;
  margin-left: 20px;
}
.gallery-section #image5{
  width: 250px;
  position: absolute;
  margin-top: 390px;
  margin-left: 285px;
}
.offer-section{
  height: 30vh;
  background-color: rgb(27, 27, 85);
}
.offer-section h1{
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-size: 3rem;
  padding-top: 70px;
  margin-left: 200px;
  position: absolute;
}
.offer-section button{
  margin-left:1100px;
  margin-top: 100px;
  background-color: red;
  color: whitesmoke;
  padding:10px 20px;
  border: none;
  font-size: 1.2rem;
  font-family: "Bebas Neue", cursive;
}
.form-section{
  height: 100vh;
  background-color: white;
}
.form-image img{
  width:480px;
  position: absolute;
  margin-top: 50px;
  /* display: none; */
  margin-left: 50px;
}
.form-section hr{
  width: 70px;
  height: 3px;
  background-color: rgb(255, 98, 0);
  border: none;
  position: absolute;
  margin-top: 90px;
  margin-left: 600px;
}
.form-section p{
  padding-left: 680px;
  padding-top: 76px;
  font-size: 1.7rem;
  color: rgb(255, 98, 0);
  font-family: "Raleway", sans-serif;

}
.form-section h2{
  position: absolute;
  margin-left: 600px; 
  margin-top:20px;
  font-size: 3rem;
  font-family: "Josefin Sans", sans-serif;
  color: rgb(15, 24, 61);
}
.form-section form{
  padding-top: 140px;
  padding-left: 600px;
}
.form-section input{
  border-top: none;
  border-right: none;
  border-left: none;
  margin: 30px;
}
.form-section input[type="text"]{
  font-size: 1.5rem;
}
.form-section input[type="email"]{
  font-size: 1.5rem;
}
.form-section select{
  border-right: none;
  border-left:none;
  border-top: none;
  font-size: 1.5rem;
  margin-left: 30px;
  width: 295px;
}
.form-section button{
  color: white;
  background-color: red;
  padding: 20px 20px;
  border: none;
  margin-top: 20px;
  margin-left: 27px;
}
.form-section textarea{
  width: 500px;
  height: 10vh;
  margin-left: 27px;
}
footer{
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url("images/image9.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}
footer .section-1{
  padding-top: 150px;
  color: white;
  padding-left: 150px;
  font-family: "Josefin Sans", sans-serif;
  display: inline-block;
}
.section h1,p{
  padding-top: 20px;
}
footer .section-2{
  padding-top: 150px;
  color: white;
  padding-left: 150px;
  font-family: "Josefin Sans", sans-serif;
  display: inline-block;
}
.section h1,p{
  padding-top: 20px;
}
footer .section-3{
  padding-top: 150px;
  color: white;
  padding-left: 150px;
  font-family: "Josefin Sans", sans-serif;
  display: inline-block;
}
.section h1,p{
  padding-top: 20px;
}
footer .section-4{
  padding-left: 1100px;
  padding-top: 140px;
  position: absolute;
}
.section-4 p{
  color: white;
  font-family: "Josefin Sans", sans-serif;
  padding-left: 30px;
}